<html>
  <body style="font-family:Arial, sans-serif; background:#f6f8fa; padding:20px;">
    <div style="max-width:480px; background:white; margin:auto; border-radius:8px; padding:20px; border:1px solid #e3e8ee;">
      
      <div style="text-align:center;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM6L2JUvwQf2pbMnhXZKUD06Br7aWYCOk4YA&s" width="120"/>
        <h2 style="color:#2a71d0;">Account Created</h2>
      </div>

      <p>Hello <strong>{{ user_name }}</strong>,</p>

      <p>Your account has been successfully created.</p>
      <p>You can now log in and access doctor appointments, and more.</p>

      <p style="margin-top:15px;">Welcome to HealthyLife! 🎉</p>

      <hr style="margin:25px 0;">

      <p style="text-align:center; font-size:12px; color:#777;">
        Thank you for choosing <strong>HealthyLife</strong>
      </p>
      <p style="text-align:center; font-size:12px; color:#777;">
         HealthyLife © {{ year }}<br />
        Authorized by <strong>Mahboob Attar</strong>
      </p>
    </div>
    </div>
  </body>
</html>
